apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: enterpriseargocd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ICgrup/OdooEnterpriseKubernetes
    targetRevision: main
    path: .   # el chart está en la raíz del repo
    helm:
      releaseName: enterpriseargocd
      values: |
        image:
          repository: odoo
          tag: "19"
          pullPolicy: IfNotPresent

        postgresql:
          host: "10.0.100.20"
          port: "5432"
          user: "root"
          password: "VidUxZ6MEKfR04c97GcLz3P2uVS3ZNQYIqH1"
          database: "enterpriseargocd"

        persistence:
          enabled: true
          existingClaim: enterpriseargocd-data-pvc
          mountPath: /var/lib/odoo
          storageClass: nfs-client

        extraAddonsPath: /mnt/extra-addons

        service:
          type: ClusterIP
          port: 8071

        domain: "enterpriseargocd.ipgrup.com"

        ingress:
          enabled: true
          ingressClassName: nginx
          annotations:
            nginx.ingress.kubernetes.io/proxy-body-size: "50m"
            nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
            nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
            nginx.ingress.kubernetes.io/proxy-buffering: "off"
            nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
            nginx.ingress.kubernetes.io/ssl-redirect: "true"
            cert-manager.io/cluster-issuer: letsencrypt-prod
          hosts:
            - host: "enterpriseargocd.ipgrup.com"
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - secretName: "enterpriseargocd-tls"
              hosts:
                - "enterpriseargocd.ipgrup.com"

  destination:
    server: https://kubernetes.default.svc
    namespace: enterpriseargocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
