apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount | default 3 }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      initContainers:
        - name: init-permissions
          image: busybox
          command: ["/bin/sh", "-c"]
          args:
            - mkdir -p {{ .Values.persistence.mountPath }}/filestore {{ .Values.persistence.mountPath }}/sessions;
              chmod -R 777 {{ .Values.persistence.mountPath }} || true;
          volumeMounts:
            - name: odoo-data
              mountPath: {{ .Values.persistence.mountPath }}

      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/bash
            - -c
            - |
              mkdir -p {{ .Values.persistence.mountPath }}/filestore {{ .Values.persistence.mountPath }}/sessions
              chmod -R 777 {{ .Values.persistence.mountPath }}
              exec odoo --addons-path=/usr/lib/python3/dist-packages/odoo/addons,{{ .Values.extraAddonsPath }} \
                   --db_host={{ .Values.postgresql.host }} \
                   --db_port={{ .Values.postgresql.port }} \
                   --db_user={{ .Values.postgresql.user }} \
                   --db_password={{ .Values.postgresql.password }} \
                   --database={{ .Values.postgresql.database }} \
                   --data-dir={{ .Values.persistence.mountPath }} \
                   --log-level=info --http-port=8071
          ports:
            - containerPort: 8072
          volumeMounts:
            - name: odoo-data
              mountPath: {{ .Values.persistence.mountPath }}
            - name: enterprise-addons
              mountPath: {{ .Values.extraAddonsPath }}

      volumes:
        - name: odoo-data
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (printf "%s-data-pvc" .Release.Name) }}
        - name: enterprise-addons
          persistentVolumeClaim:
            claimName: {{ printf "%s-enterprise-addons-pvc" .Release.Name }}